body {
    
    background: none;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.headerimage{
    height:375px;
    width: 100%;
}

.card {
    width: 60%;
    margin: 0 auto;
    background-color:rgba(0, 0, 0, 0.8);  
}

p{
    color: whitesmoke;
    font-size: 18px;
}

.crystal {
    height: 150px;
    width: 200px;
    float:left;
}

.crystalContainer{
    margin: 0 auto;
    background-color:rgba(0, 0, 0, 0);
}

.numberContainer{
    height:100px;
    width:40%;
    background: gold;
    margin:0 5%;
    font-weight: 400;
    font-size: 60px;
    padding-top:10px;
    text-align: center;
}

#counter{
    font-size:20px;
}

#score{
    height: 100px;
    text-align: center;
    font-size:50px;
}